@charset "UTF-8";
/* reset */
body, h1, h2, h3, h4, h5, h6, p, address,
ul, ol, li, dl, dt, dd, img, form, table, tr, th, td {
	margin: 0;
	padding: 0;
	border: none;
	font-style: normal;
	font-weight: normal;
	font-size: 100%;
	text-align: left;
	list-style-type: none;
	border-collapse: collapse;
}

textarea { font-size: 100%; vertical-align:middle;}
img { border-style: none; display: block; }
hr { display: none; }
em{font-style: normal}
input{line-height:auto;vertical-align:middle;}
strong.more{color:#c30}
a{text-decoration: none;}


body {
    font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
background-color: #FFEFD5;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}



.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: silver;
}

.wrapper {
    margin-left: auto;
    font-size: 12px;
}

.wrapper ul{
    display: flex;
}


.wrapper ul li {
    justify-content: flex-end;
    margin-right: 20px;
}

.wrapper a {
    display: block;
    color: gray;
}

.active {
    color:black;
}

.site-title a {
display: block;
padding-left: 20px;
font-size: 30px;
font-weight:bold;
color: black;
}

.contact-form {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    height: 35px;
}

input[type="submit"],
input[type="Search"] {
  border: none; 
  outline: none;  
  border-radius: 2px;
}



.swiper {
  width: auto;
  height: 500px;
}

.info-top {
    font-size: 30px;
}

.swiper-slide {
    /* 文字配置調整、背景色設定 */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    background-color: #dfe7fd;
}

.swiper-slide > img {
    object-fit: cover;
    width: 100%;
    height:100%;
}

.info {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    width:800px;
    margin: 0 auto;
    text-align: left;
}

.info-bottom {
    display: flex;
    align-items:center;
    padding-left: 15px;
    font-size: 20px;
    background-color: #FFC7AF;
    width: 900px;
    height: 55px;
}

.info ul {
display: block;
}

.info ul li {
    list-style-type: disc; 
    justify-content: flex-start;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.section {
    display: flex;
    justify-content: center;
}



.content_img {
   width: 100%;
  max-width: none !important;
}

.food_photo {
display: flex;
}

.txt_top {
    font-weight: bold;
    font-size: 20px;
}




.navigation {
    display: flex;
    justify-content: center;
       color: white;
     
}




.adless h1 .adless_txt {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.small_txt {
    font-size: 12px;
}
.bigtxt{
    font-size: 20px;
font-weight:bold;
}



.xx {
    background-color: black;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
}
.shop_big {
    font-size: 20px;
    padding-top: 30px;
}

.shoplist h1 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 30px;
}

.adless_img {
    display: flex;
    justify-content: center;
    border-radius: 50%;
     width: 200px;  
    height: 200px; 
    margin: 30px;
}

.black_img {
    height: 350px;
    width:auto;
}


.pin {
  display: inline-block;
  vertical-align: middle;
  color: #333;
  line-height: 1;
  position: relative;
  width: 0.8em;
  height: 0.8em;
  background: currentColor;
  border: 0.1em solid currentColor;
  border-radius: 40% 60% 0% 100% / 40% 100% 0% 60%;
  box-sizing: content-box;
  transform: rotate(45deg);
}

.pin::before {
  content: '';
  position: absolute;
  top: 18%;
  left: 18%;
  width: 0.336em;
  height: 0.336em;
  background: #fff;
  border-radius: 50%;
  box-sizing: border-box;
}

.footer {
    display: contents;
    justify-content: center;
    background-color: #333;
}

.fadeIn {
  opacity: 0;
  transition: 2s;
}
.fadeIn.is-show {
  opacity: 1;
}









